.content-wrap {
  padding: 100px 48px;
}

.content-wrap h5 {
  font-size: 27px;
  font-weight: 400;
}

.no-result-box {
  text-align: center;
  margin-bottom: 30px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
}
