html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  background: #141414 !important;
  color: #fff;
}

.layout-main {
  padding-top: 68px;
}

.bg-body-tertiary.my-nav-bg {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  padding: 0 40px;

  background-color: transparent !important;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  transition: background-color 0.3s ease;
}

.movie-slide-detail,
.movie-slide-upcoming {
  position: relative;
  z-index: 1;
}

.bg-body-tertiary.my-nav-bg.scrolled {
  background-color: #000 !important;
  background-image: none !important;
}
.my-nav-color {
  padding-left: 20px !important;
}

.my-nav-color a {
  color: #fff !important;
  font-size: 13px;
}

.search-icon {
  background: none !important;
  border: none !important;
  width: 22px;
  height: 22px;
}

.search-bar {
  position: relative;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.search-bar.active {
  width: 230px;
  opacity: 1;
}

.search-bar input {
  color: #fff !important;
}

.search-bar input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.search-icon svg {
  width: 22px !important;
  height: 22px !important;
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.form-control::placeholder {
  color: #b4b3b3 !important;
  opacity: 1;
}

.form-control {
  border: 1px solid #fff !important;
  background: #141414 !important;
  border-radius: 0 !important;
}

input,
textarea {
  caret-color: #fff;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;

  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  margin-bottom: 12px;
  font-size: 18px;
  color: #111;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
  list-style: none;
}

.page-item {
  display: inline-block;
}

.page-link {
  padding: 6px 12px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.page-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-content-wrap {
  padding-top: 0;
}

/* 현재 선택된 페이지 (active) */
.page-item.active .page-link {
  background-color: #7c3ff6;
  border-color: #7c3ff6;
  color: #fff;
}

/* 모바일에서만 메뉴 배경 + 스타일 */
@media (max-width: 500px) {
  .custom-carousel-container {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .custom-carousel-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .custom-carousel-container .react-multi-carousel-list {
    max-height: 100vh;
    overflow: hidden;
  }

  .custom-carousel-container .react-multi-carousel-track {
    max-height: 100vh;
    overflow: hidden;
  }

  .custom-carousel-container .react-multi-carousel-arrow {
    z-index: 10;
  }
  .bg-body-tertiary.my-nav-bg {
    background-color: #000 !important;
    background-image: none;
  }
}
