body {
  background-color: rgb(20, 20, 20) !important;
}

.bg-body-tertiary.my-nav-bg {
  background-color: rgb(20, 20, 20) !important;
  padding-top: 20px;
}

.my-nav-color {
  padding-left: 20px !important;
}

.my-nav-color a {
  color: #fff !important;
  font-size: 14px;
}

.btn-orange {
  background: none !important;
  border: none !important;
}

.ico-search {
  width: 22px;
  height: 22px;
}

@media (min-width: 1500px) {
  body {
    padding: 0 60px;
  }
}
