@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', sans-serif !important;
  overflow-x: hidden;
  font-weight: 500 !important;
}
